
/* @import url('../Fonts/Montserrat-Regular.otf');
@import url('../Fonts/Poppins-Regular.ttf');  */



.textgp{

    margin: 0 ;
    background-color: navy;
    padding: 10px;
    position: relative;
    
}


.cpname span{
   color: #fff;
}


.phno span{
    color: #fff;
     margin-left: 10px;
}

.icon i{
    transform: translate(630px);
    margin-left: 30px;
    color: #fff;
}


/* navbar */

.nav-item{
    font-size: medium;
}
.menu li a{
    color:black;
    transition: all 1s;
}
.menu li a:hover{
    color:#fff;
    background-color: navy;
}

#banner{
    background-image:url(../img/pexels-johannes-plenio-1103970.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;

}




.thover{
     color: black;
     text-decoration: none;

}
.thover:hover{
   color:aquamarine;
}

.txtgp h1{
    font-size: 45px;
    
   
    
   
}
.stick{
    width: 70px;
    height:5px ; 
    background-color: navy;
    margin-top: 20px;
}
.txtgp p{
    
    margin-top: 60px;
    font-size: 20px;

}

.text-group{
    background-color: whitesmoke;
    padding: 70px ;
    margin-top: 200px;
    
  
   
   
}


.text-group1 h1{
    margin-left: 100px;
    margin-top: 60px;
    font-size: 30px;
   
}


.text-group1 p{
    margin-left: 100px;
    margin-top: 30px;
    
}

 /* footer */
 .footer{
    padding: 100px;
  }
  .footer h3{
      
      margin-bottom: 60px;
      margin-left: 40px;
  }
  .footer p{
      
    
      margin-left: 40px;
  }
  .footerlink h3{
      margin-left: 180px;
  }
  .footerlink ul li{
      margin-left: 165px;
     
     
  }
  
  
  .footer li{
      /* color: navy; */
      list-style: square;
      padding: 3px;
     list-style-position: inside;
     font-size: 15px;
  }
  .footer li a{
      color: #fff;
      text-decoration: none;
       margin: 0;
  }
  .footer li a:hover{
      color: aqua;
      
  }
  
  .date{
      padding: 8px;
      background-color: navy;
  }
  .date p{
      margin-top: 7px;
      color: #fff;
  }



